<h3>Nouvelle tâche</h3>

<form action="{{ path('todo_add') }}" method="post" class="form-inline">
    <div class="form-group">
        <input type="text" name="task" placeholder="Intitulé de la tâche" class="form-control">
        <input type="submit" name="add" value="Ajouter" class="form-control btn btn-primary">
    </div>
</form>